In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.metrics.pairwise import cosine_similarity

Agrégation des données clicks en un seul Dataframe.

In [2]:
clicks_directory = "../data/news-portal-user-interactions-by-globocom/clicks/"
columns = ["user_id", "session_id", "session_start", "session_size", "click_article_id",
           "click_timestamp", "click_environment", "click_deviceGroup", "click_os",
           "click_country", "click_region", "click_referrer_type"]
df_clicks = pd.DataFrame(columns = columns)

for i in os.listdir(clicks_directory):
    temp_ = pd.read_csv(clicks_directory + i, index_col=None, header=0)
    liste_concat = [df_clicks, temp_]
    df_clicks = pd.concat(liste_concat, ignore_index=True)
df_clicks

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,93863,1507865792177843,1507865792000,2,96210,1507865832925,4,3,2,1,21,2
1,93863,1507865792177843,1507865792000,2,158094,1507865862925,4,3,2,1,21,2
2,294036,1507865795185844,1507865795000,2,20691,1507865819095,4,3,20,1,9,2
3,294036,1507865795185844,1507865795000,2,96210,1507865849095,4,3,20,1,9,2
4,77136,1507865796257845,1507865796000,2,336245,1507866133178,4,3,2,1,25,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2988176,15107,1507872960434128,1507872960000,4,20691,1507873325254,4,4,2,1,14,1
2988177,15107,1507872960434128,1507872960000,4,327984,1507873616575,4,4,2,1,14,1
2988178,15107,1507872960434128,1507872960000,4,172760,1507873646575,4,4,2,1,14,1
2988179,294270,1507872968214129,1507872968000,2,96210,1507873274995,4,3,2,1,25,2
2988180,294270,1507872968214129,1507872968000,2,336245,1507873304995,4,3,2,1,25,2

In [3]:
file_path_metadata = "../data/news-portal-user-interactions-by-globocom/articles_metadata.csv"
df_metadata = pd.read_csv(file_path_metadata)
df_metadata = pd.DataFrame(df_metadata)
df_metadata

        article_id  category_id  created_at_ts  publisher_id  words_count
0                0            0  1513144419000             0          168
1                1            1  1405341936000             0          189
2                2            1  1408667706000             0          250
3                3            1  1408468313000             0          230
4                4            1  1407071171000             0          162
...            ...          ...            ...           ...          ...
364042      364042          460  1434034118000             0          144
364043      364043          460  1434148472000             0          463
364044      364044          460  1457974279000             0          177
364045      364045          460  1515964737000             0          126
364046      364046          460  1505811330000             0          479

[364047 rows x 5 columns]

In [4]:
merged_df = df_clicks.merge(df_metadata, left_on='click_article_id', right_on='article_id', how='left')
merged_df

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,article_id,category_id,created_at_ts,publisher_id,words_count
0,93863,1507865792177843,1507865792000,2,96210,1507865832925,4,3,2,1,21,2,96210,209,1507798791000,0,274
1,93863,1507865792177843,1507865792000,2,158094,1507865862925,4,3,2,1,21,2,158094,281,1507803751000,0,223
2,294036,1507865795185844,1507865795000,2,20691,1507865819095,4,3,20,1,9,2,20691,9,1507826236000,0,226
3,294036,1507865795185844,1507865795000,2,96210,1507865849095,4,3,20,1,9,2,96210,209,1507798791000,0,274
4,77136,1507865796257845,1507865796000,2,336245,1507866133178,4,3,2,1,25,2,336245,437,1507785531000,0,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988176,15107,1507872960434128,1507872960000,4,20691,1507873325254,4,4,2,1,14,1,20691,9,1507826236000,0,226
2988177,15107,1507872960434128,1507872960000,4,327984,1507873616575,4,4,2,1,14,1,327984,435,1507808009000,0,265
2988178,15107,1507872960434128,1507872960000,4,172760,1507873646575,4,4,2,1,14,1,172760,299,1507845657000,0,142
2988179,294270,1507872968214129,1507872968000,2,96210,1507873274995,4,3,2,1,25,2,96210,209,1507798791000,0,274
2988180,294270,1507872968214129,1507872968000,2,336245,1507873304995,4,3,2,1,25,2,336245,437,1507785531000,0,150

Pour chaque utilisateur on aggrège les différents articles et catégorie que l'utilisateur à consulté.

In [5]:
df_grouped = merged_df.groupby('user_id').agg({
    'click_article_id': list,
    'category_id': list
}).reset_index()
df_grouped

,user_id,click_article_id,category_id
0,0,"[157541, 68866, 96755, 313996, 160158, 233470,...","[281, 136, 209, 431, 281, 375, 186, 186]"
1,1,"[327984, 183176, 235840, 96663, 59758, 160474,...","[435, 301, 375, 209, 123, 281, 43, 375, 412, 2..."
2,2,"[119592, 30970, 30760, 209122]","[247, 26, 26, 332]"
3,3,"[236444, 234318, 233688, 237452, 235745, 12096...","[375, 375, 375, 375, 375, 249, 375, 375, 375, ..."
4,4,"[336499, 271261, 48915, 44488, 195887, 195084,...","[437, 399, 92, 81, 317, 317, 132]"
...,...,...,...
322892,322892,"[42567, 39894]","[67, 66]"
322893,322893,"[50644, 36162]","[99, 43]"
322894,322894,"[36162, 168401]","[43, 297]"
322895,322895,"[289197, 63746]","[418, 133]"
322896,322896,"[30760, 157507]","[26, 281]"

Embedding des articles. On diminue la dimension par un PCA.

In [6]:
pickle = pd.read_pickle('../data/news-portal-user-interactions-by-globocom/articles_embeddings.pickle')
pickle = pd.DataFrame(pickle)
pickle

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
0,-0.161183,-0.957233,-0.137944,0.050855,0.830055,0.901365,-0.335148,-0.559561,-0.500603,0.165183,...,0.321248,0.313999,0.636412,0.169179,0.540524,-0.813182,0.286870,-0.231686,0.597416,0.409623
1,-0.523216,-0.974058,0.738608,0.155234,0.626294,0.485297,-0.715657,-0.897996,-0.359747,0.398246,...,-0.487843,0.823124,0.412688,-0.338654,0.320787,0.588643,-0.594137,0.182828,0.397090,-0.834364
2,-0.619619,-0.972960,-0.207360,-0.128861,0.044748,-0.387535,-0.730477,-0.066126,-0.754899,-0.242004,...,0.454756,0.473184,0.377866,-0.863887,-0.383365,0.137721,-0.810877,-0.447580,0.805932,-0.285284
3,-0.740843,-0.975749,0.391698,0.641738,-0.268645,0.191745,-0.825593,-0.710591,-0.040099,-0.110514,...,0.271535,0.036040,0.480029,-0.763173,0.022627,0.565165,-0.910286,-0.537838,0.243541,-0.885329
4,-0.279052,-0.972315,0.685374,0.113056,0.238315,0.271913,-0.568816,0.341194,-0.600554,-0.125644,...,0.238286,0.809268,0.427521,-0.615932,-0.503697,0.614450,-0.917760,-0.424061,0.185484,-0.580292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364042,-0.055038,-0.962136,0.869436,-0.071523,-0.725294,0.434320,0.198312,-0.581154,0.702346,-0.124813,...,-0.410549,0.564252,-0.463959,0.167907,-0.480068,0.652090,0.380880,0.433195,-0.662455,-0.222850
364043,-0.136932,-0.995471,0.991298,0.031871,-0.915622,-0.658517,0.633090,-0.564356,0.676551,-0.446068,...,-0.681986,-0.574185,-0.536908,0.688934,0.528204,0.162435,0.940364,0.989298,-0.761595,-0.414652
364044,-0.251390,-0.976243,0.586097,0.643631,-0.663359,-0.093480,0.691553,-0.588281,0.902999,0.124571,...,-0.162220,-0.242030,-0.476131,0.352132,-0.311279,0.460574,-0.653077,-0.143725,0.068093,-0.705010
364045,0.224342,-0.923288,-0.381742,0.687890,-0.773911,-0.103629,-0.406486,0.246004,0.255191,-0.329587,...,-0.422999,0.390324,0.655911,-0.646753,-0.174031,0.698037,-0.317102,0.687132,-0.531512,0.010726
364046,-0.257134,-0.994631,0.983792,-0.190975,-0.953720,-0.893823,0.708974,-0.557027,0.846842,-0.118519,...,-0.490481,-0.689666,-0.661846,0.490945,0.736525,0.667668,0.902130,0.983873,-0.838183,-0.179283

In [7]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
pickle_scaled = scaler.fit_transform(pickle)

pca = PCA()
pca.fit(pickle_scaled)

pickle_pca = pca.transform(pickle_scaled)
explained_variance = pca.explained_variance_ratio_
cumulative_variance = explained_variance.cumsum()
n_components = (cumulative_variance <= 0.95).sum() + 1

pca_optimal = PCA(n_components=n_components)
pickle_pca_optimal = pca_optimal.fit_transform(pickle_scaled)
pickle_pca_optimal = pd.DataFrame(pickle_pca_optimal)
pickle = pickle_pca_optimal.reset_index().copy()
pickle

,index,0,1,2,3,4,5,6,7,8,...,43,44,45,46,47,48,49,50,51,52
0,0,-1.854724,-5.592560,1.708689,-3.835071,1.415789,0.252137,0.426131,0.545382,-0.807474,...,-0.080766,0.882690,-0.010293,0.406333,0.494175,-0.154540,-0.259224,-0.029322,1.554362,0.554292
1,1,-5.361518,4.122706,-2.357183,-3.428389,-0.430855,3.722347,2.389918,-1.267133,1.944272,...,1.213989,0.708157,0.416016,1.361842,-1.344223,-0.863347,0.391850,-0.626710,1.088882,-0.361979
2,2,-3.599986,-0.132164,-6.027394,0.985312,0.211907,4.591667,-1.815698,-2.170400,-2.783102,...,2.064452,-0.231579,0.049098,1.222212,-0.084220,0.179457,0.943704,0.249008,-0.142547,1.199313
3,3,-1.159288,7.293199,-5.916482,-1.370462,2.172411,-1.682591,1.070797,-2.159909,1.947269,...,0.584808,0.844742,0.097057,0.969914,0.465030,-0.615536,0.366476,1.486276,0.586759,1.664673
4,4,-1.142877,2.569400,-2.891803,-0.273755,2.912954,5.608955,0.308931,0.310920,-1.054244,...,0.493097,0.840923,2.236853,1.417917,-1.346428,-0.909694,-0.553807,0.055911,-0.014600,0.453078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364042,364042,1.901332,7.384376,8.397183,1.004976,-1.738726,-1.755386,1.745345,1.134817,0.903594,...,-1.975599,-0.581559,0.710334,0.651273,0.032723,-0.594716,-0.556277,-0.779505,0.097605,-0.392666
364043,364043,0.976415,1.577682,6.441993,-3.159614,-14.462512,3.176120,1.287088,3.976357,0.027027,...,0.584021,-2.738686,2.101253,-0.341723,0.289730,-3.478700,0.911316,-0.764543,1.313752,1.325100
364044,364044,1.206034,9.495936,3.033798,-2.910699,-2.307365,0.476104,-2.256137,0.399923,3.293363,...,-0.823981,0.929267,0.057680,-0.370808,-0.472052,0.317249,1.425756,0.911150,-0.840016,0.900739
364045,364045,11.508050,1.546382,-0.132458,0.648119,2.660038,-2.057661,-2.533552,1.115158,1.057310,...,-0.457346,0.600681,-0.288763,-0.612054,-1.206868,0.012285,1.100122,-0.631988,-0.411668,0.220927
364046,364046,1.774668,2.835889,6.992454,-1.418940,-14.428051,3.498030,-0.685937,2.406363,1.129209,...,-0.254475,-3.332408,1.455281,-0.539591,-0.249017,-3.091348,-0.044674,-0.193414,1.779148,1.705863

In [8]:
df_temporary = df_metadata.copy()
df_temporary = df_temporary.drop(columns=["created_at_ts", "publisher_id", "words_count"])

In [9]:
pickle = pickle.merge(df_temporary, left_on='index', right_on='article_id', how='left')
pickle = pickle.drop(columns=["article_id"])
pickle = pickle.rename(columns={"index": "article_id"})
cols = list(pickle.columns)
cols.insert(1, cols.pop())
pickle = pickle[cols]
pickle

,article_id,category_id,0,1,2,3,4,5,6,7,...,43,44,45,46,47,48,49,50,51,52
0,0,0,-1.854724,-5.592560,1.708689,-3.835071,1.415789,0.252137,0.426131,0.545382,...,-0.080766,0.882690,-0.010293,0.406333,0.494175,-0.154540,-0.259224,-0.029322,1.554362,0.554292
1,1,1,-5.361518,4.122706,-2.357183,-3.428389,-0.430855,3.722347,2.389918,-1.267133,...,1.213989,0.708157,0.416016,1.361842,-1.344223,-0.863347,0.391850,-0.626710,1.088882,-0.361979
2,2,1,-3.599986,-0.132164,-6.027394,0.985312,0.211907,4.591667,-1.815698,-2.170400,...,2.064452,-0.231579,0.049098,1.222212,-0.084220,0.179457,0.943704,0.249008,-0.142547,1.199313
3,3,1,-1.159288,7.293199,-5.916482,-1.370462,2.172411,-1.682591,1.070797,-2.159909,...,0.584808,0.844742,0.097057,0.969914,0.465030,-0.615536,0.366476,1.486276,0.586759,1.664673
4,4,1,-1.142877,2.569400,-2.891803,-0.273755,2.912954,5.608955,0.308931,0.310920,...,0.493097,0.840923,2.236853,1.417917,-1.346428,-0.909694,-0.553807,0.055911,-0.014600,0.453078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364042,364042,460,1.901332,7.384376,8.397183,1.004976,-1.738726,-1.755386,1.745345,1.134817,...,-1.975599,-0.581559,0.710334,0.651273,0.032723,-0.594716,-0.556277,-0.779505,0.097605,-0.392666
364043,364043,460,0.976415,1.577682,6.441993,-3.159614,-14.462512,3.176120,1.287088,3.976357,...,0.584021,-2.738686,2.101253,-0.341723,0.289730,-3.478700,0.911316,-0.764543,1.313752,1.325100
364044,364044,460,1.206034,9.495936,3.033798,-2.910699,-2.307365,0.476104,-2.256137,0.399923,...,-0.823981,0.929267,0.057680,-0.370808,-0.472052,0.317249,1.425756,0.911150,-0.840016,0.900739
364045,364045,460,11.508050,1.546382,-0.132458,0.648119,2.660038,-2.057661,-2.533552,1.115158,...,-0.457346,0.600681,-0.288763,-0.612054,-1.206868,0.012285,1.100122,-0.631988,-0.411668,0.220927
364046,364046,460,1.774668,2.835889,6.992454,-1.418940,-14.428051,3.498030,-0.685937,2.406363,...,-0.254475,-3.332408,1.455281,-0.539591,-0.249017,-3.091348,-0.044674,-0.193414,1.779148,1.705863

On aggrège tous les embedding sous forme de liste dans le dataframe.

In [10]:
df_pickle = []
df_pickle = pd.DataFrame(df_pickle, columns=["article_id", "category_id"])
df_pickle["article_id"] = pickle["article_id"].copy()
df_pickle["category_id"] = pickle["category_id"].copy()
pickle = pd.read_pickle('../data/news-portal-user-interactions-by-globocom/articles_embeddings.pickle')
pickle = pd.DataFrame(pickle)
df_pickle['embedding_concat'] = pickle.apply(lambda row: row.values.tolist(), axis=1)
df_pickle["embedding_concat"] = df_pickle["embedding_concat"].apply(lambda x: np.array(x) if isinstance(x, list) else x)
df_pickle

,article_id,category_id,embedding_concat
0,0,0,"[-0.16118301451206207, -0.9572331309318542, -0..."
1,1,1,"[-0.523215651512146, -0.9740579724311829, 0.73..."
2,2,1,"[-0.6196185350418091, -0.9729604125022888, -0...."
3,3,1,"[-0.7408434152603149, -0.9757489562034607, 0.3..."
4,4,1,"[-0.2790515124797821, -0.97231525182724, 0.685..."
...,...,...,...
364042,364042,460,"[-0.05503764748573303, -0.9621357917785645, 0...."
364043,364043,460,"[-0.13693177700042725, -0.9954714775085449, 0...."
364044,364044,460,"[-0.2513904273509979, -0.97624272108078, 0.586..."
364045,364045,460,"[0.22434180974960327, -0.9232877492904663, -0...."
364046,364046,460,"[-0.25713393092155457, -0.994631290435791, 0.9..."

In [11]:
final_df_pickle = '../data/csv/df_pickle.pkl'
final_df_grouped = '../data/csv/df_grouped.pkl'

df_pickle.to_pickle(final_df_pickle)
df_grouped.to_pickle(final_df_grouped)

In [12]:
df_pickle = pd.read_pickle('../data/csv/df_pickle.pkl')
df_pickle

,article_id,category_id,embedding_concat
0,0,0,"[-0.16118301451206207, -0.9572331309318542, -0..."
1,1,1,"[-0.523215651512146, -0.9740579724311829, 0.73..."
2,2,1,"[-0.6196185350418091, -0.9729604125022888, -0...."
3,3,1,"[-0.7408434152603149, -0.9757489562034607, 0.3..."
4,4,1,"[-0.2790515124797821, -0.97231525182724, 0.685..."
...,...,...,...
364042,364042,460,"[-0.05503764748573303, -0.9621357917785645, 0...."
364043,364043,460,"[-0.13693177700042725, -0.9954714775085449, 0...."
364044,364044,460,"[-0.2513904273509979, -0.97624272108078, 0.586..."
364045,364045,460,"[0.22434180974960327, -0.9232877492904663, -0...."
364046,364046,460,"[-0.25713393092155457, -0.994631290435791, 0.9..."

In [13]:
df_grouped = pd.read_pickle('../data/csv/df_grouped.pkl')
df_grouped

,user_id,click_article_id,category_id
0,0,"[157541, 68866, 96755, 313996, 160158, 233470,...","[281, 136, 209, 431, 281, 375, 186, 186]"
1,1,"[327984, 183176, 235840, 96663, 59758, 160474,...","[435, 301, 375, 209, 123, 281, 43, 375, 412, 2..."
2,2,"[119592, 30970, 30760, 209122]","[247, 26, 26, 332]"
3,3,"[236444, 234318, 233688, 237452, 235745, 12096...","[375, 375, 375, 375, 375, 249, 375, 375, 375, ..."
4,4,"[336499, 271261, 48915, 44488, 195887, 195084,...","[437, 399, 92, 81, 317, 317, 132]"
...,...,...,...
322892,322892,"[42567, 39894]","[67, 66]"
322893,322893,"[50644, 36162]","[99, 43]"
322894,322894,"[36162, 168401]","[43, 297]"
322895,322895,"[289197, 63746]","[418, 133]"
322896,322896,"[30760, 157507]","[26, 281]"

Moyenne des embeddings des articles consultés par les utilisateurs pour créer un profil embeddings utilisateur.

In [14]:
user_embeddings = {}
for user_id in df_grouped.index:
    liked_articles_embeddings = df_pickle[df_pickle['article_id'].isin(df_grouped['click_article_id'][user_id])]['embedding_concat'].values
    user_embeddings[user_id] = np.mean(liked_articles_embeddings, axis=0)

Comparaison entre un profil utilisateur et l'ensemble des embeddings des articles afin de déterminer les similarités entre l'utilisateur et les articles.

In [15]:
def recommend_articles(user_id, user_embeddings, df_pickle, top_n=5):
    user_embedding = user_embeddings[user_id]
    df_similarity = df_pickle.copy()
    df_similarity['similarity'] = df_pickle['embedding_concat'].apply(lambda x: cosine_similarity([user_embedding], [x])[0][0])
    recommended_articles = df_similarity.sort_values(by='similarity', ascending=False).head(top_n)
    return recommended_articles[['article_id', 'similarity']]

In [19]:
user_test = 1
recommended_articles = recommend_articles(user_test, user_embeddings, df_pickle)
print(recommended_articles)

        article_id  similarity
237201      237201    0.819216
346278      346278    0.809952
156501      156501    0.803289
234334      234334    0.802575
280341      280341    0.802565

In [58]:
data_blob = []
for i in range(10):
    recommended_articles = recommend_articles(i, user_embeddings, df_pickle)
    user_id = i
    article_rec = recommended_articles['article_id'].tolist()
    data_blob.append({'user_id': user_id, 'article_rec': article_rec})

data_blob_df = pd.DataFrame(data_blob)

In [59]:
data_blob_df

   user_id                               article_rec
0        0  [162235, 160966, 162230, 155943, 160079]
1        1  [237201, 346278, 156501, 234334, 280341]
2        2       [31400, 31920, 25856, 31927, 29828]
3        3  [229025, 234127, 235395, 236309, 233769]
4        4  [192998, 188797, 193907, 193242, 188911]
5        5  [285728, 280901, 285233, 286255, 203186]
6        6  [206195, 235293, 207424, 205874, 205825]
7        7  [151978, 285027, 157118, 152780, 156501]
8        8  [111176, 272247, 284163, 273414, 111429]
9        9  [285412, 283576, 285829, 282710, 284008]

In [60]:
final_data_blob = '../data/csv/data_blob_df.csv'
data_blob_df.to_csv(final_data_blob)

In [61]:
final_data_blob = '../data/csv/data_blob_df.pkl'
data_blob_df.to_pickle(final_data_blob)