In [32]:
import pandas as pd
import numpy as np
import os

In [33]:
pickle = pd.read_pickle('../data/news-portal-user-interactions-by-globocom/articles_embeddings.pickle')
pickle = pd.DataFrame(pickle)
pickle

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
0,-0.161183,-0.957233,-0.137944,0.050855,0.830055,0.901365,-0.335148,-0.559561,-0.500603,0.165183,...,0.321248,0.313999,0.636412,0.169179,0.540524,-0.813182,0.286870,-0.231686,0.597416,0.409623
1,-0.523216,-0.974058,0.738608,0.155234,0.626294,0.485297,-0.715657,-0.897996,-0.359747,0.398246,...,-0.487843,0.823124,0.412688,-0.338654,0.320787,0.588643,-0.594137,0.182828,0.397090,-0.834364
2,-0.619619,-0.972960,-0.207360,-0.128861,0.044748,-0.387535,-0.730477,-0.066126,-0.754899,-0.242004,...,0.454756,0.473184,0.377866,-0.863887,-0.383365,0.137721,-0.810877,-0.447580,0.805932,-0.285284
3,-0.740843,-0.975749,0.391698,0.641738,-0.268645,0.191745,-0.825593,-0.710591,-0.040099,-0.110514,...,0.271535,0.036040,0.480029,-0.763173,0.022627,0.565165,-0.910286,-0.537838,0.243541,-0.885329
4,-0.279052,-0.972315,0.685374,0.113056,0.238315,0.271913,-0.568816,0.341194,-0.600554,-0.125644,...,0.238286,0.809268,0.427521,-0.615932,-0.503697,0.614450,-0.917760,-0.424061,0.185484,-0.580292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364042,-0.055038,-0.962136,0.869436,-0.071523,-0.725294,0.434320,0.198312,-0.581154,0.702346,-0.124813,...,-0.410549,0.564252,-0.463959,0.167907,-0.480068,0.652090,0.380880,0.433195,-0.662455,-0.222850
364043,-0.136932,-0.995471,0.991298,0.031871,-0.915622,-0.658517,0.633090,-0.564356,0.676551,-0.446068,...,-0.681986,-0.574185,-0.536908,0.688934,0.528204,0.162435,0.940364,0.989298,-0.761595,-0.414652
364044,-0.251390,-0.976243,0.586097,0.643631,-0.663359,-0.093480,0.691553,-0.588281,0.902999,0.124571,...,-0.162220,-0.242030,-0.476131,0.352132,-0.311279,0.460574,-0.653077,-0.143725,0.068093,-0.705010
364045,0.224342,-0.923288,-0.381742,0.687890,-0.773911,-0.103629,-0.406486,0.246004,0.255191,-0.329587,...,-0.422999,0.390324,0.655911,-0.646753,-0.174031,0.698037,-0.317102,0.687132,-0.531512,0.010726
364046,-0.257134,-0.994631,0.983792,-0.190975,-0.953720,-0.893823,0.708974,-0.557027,0.846842,-0.118519,...,-0.490481,-0.689666,-0.661846,0.490945,0.736525,0.667668,0.902130,0.983873,-0.838183,-0.179283

In [34]:
clicks_directory = "../data/news-portal-user-interactions-by-globocom/clicks/"
columns = ["user_id", "session_id", "session_start", "session_size", "click_article_id",
           "click_timestamp", "click_environment", "click_deviceGroup", "click_os",
           "click_country", "click_region", "click_referrer_type"]
df_clicks = pd.DataFrame(columns = columns)

for i in os.listdir(clicks_directory):
    temp_ = pd.read_csv(clicks_directory + i, index_col=None, header=0)
    liste_concat = [df_clicks, temp_]
    df_clicks = pd.concat(liste_concat, ignore_index=True)
df_clicks

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,93863,1507865792177843,1507865792000,2,96210,1507865832925,4,3,2,1,21,2
1,93863,1507865792177843,1507865792000,2,158094,1507865862925,4,3,2,1,21,2
2,294036,1507865795185844,1507865795000,2,20691,1507865819095,4,3,20,1,9,2
3,294036,1507865795185844,1507865795000,2,96210,1507865849095,4,3,20,1,9,2
4,77136,1507865796257845,1507865796000,2,336245,1507866133178,4,3,2,1,25,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2988176,15107,1507872960434128,1507872960000,4,20691,1507873325254,4,4,2,1,14,1
2988177,15107,1507872960434128,1507872960000,4,327984,1507873616575,4,4,2,1,14,1
2988178,15107,1507872960434128,1507872960000,4,172760,1507873646575,4,4,2,1,14,1
2988179,294270,1507872968214129,1507872968000,2,96210,1507873274995,4,3,2,1,25,2
2988180,294270,1507872968214129,1507872968000,2,336245,1507873304995,4,3,2,1,25,2

In [35]:
file_path_metadata = "../data/news-portal-user-interactions-by-globocom/articles_metadata.csv"
df_metadata = pd.read_csv(file_path_metadata)
df_metadata = pd.DataFrame(df_metadata)
df_metadata

        article_id  category_id  created_at_ts  publisher_id  words_count
0                0            0  1513144419000             0          168
1                1            1  1405341936000             0          189
2                2            1  1408667706000             0          250
3                3            1  1408468313000             0          230
4                4            1  1407071171000             0          162
...            ...          ...            ...           ...          ...
364042      364042          460  1434034118000             0          144
364043      364043          460  1434148472000             0          463
364044      364044          460  1457974279000             0          177
364045      364045          460  1515964737000             0          126
364046      364046          460  1505811330000             0          479

[364047 rows x 5 columns]

In [36]:
merged_df = df_clicks.merge(df_metadata, left_on='click_article_id', right_on='article_id', how='left')
merged_df

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,article_id,category_id,created_at_ts,publisher_id,words_count
0,93863,1507865792177843,1507865792000,2,96210,1507865832925,4,3,2,1,21,2,96210,209,1507798791000,0,274
1,93863,1507865792177843,1507865792000,2,158094,1507865862925,4,3,2,1,21,2,158094,281,1507803751000,0,223
2,294036,1507865795185844,1507865795000,2,20691,1507865819095,4,3,20,1,9,2,20691,9,1507826236000,0,226
3,294036,1507865795185844,1507865795000,2,96210,1507865849095,4,3,20,1,9,2,96210,209,1507798791000,0,274
4,77136,1507865796257845,1507865796000,2,336245,1507866133178,4,3,2,1,25,2,336245,437,1507785531000,0,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988176,15107,1507872960434128,1507872960000,4,20691,1507873325254,4,4,2,1,14,1,20691,9,1507826236000,0,226
2988177,15107,1507872960434128,1507872960000,4,327984,1507873616575,4,4,2,1,14,1,327984,435,1507808009000,0,265
2988178,15107,1507872960434128,1507872960000,4,172760,1507873646575,4,4,2,1,14,1,172760,299,1507845657000,0,142
2988179,294270,1507872968214129,1507872968000,2,96210,1507873274995,4,3,2,1,25,2,96210,209,1507798791000,0,274
2988180,294270,1507872968214129,1507872968000,2,336245,1507873304995,4,3,2,1,25,2,336245,437,1507785531000,0,150

In [37]:
df_grouped = merged_df.groupby('user_id').agg({
    'click_article_id': list,
    'category_id': list
}).reset_index()
df_grouped

,user_id,click_article_id,category_id
0,0,"[157541, 68866, 96755, 313996, 160158, 233470,...","[281, 136, 209, 431, 281, 375, 186, 186]"
1,1,"[327984, 183176, 235840, 96663, 59758, 160474,...","[435, 301, 375, 209, 123, 281, 43, 375, 412, 2..."
2,2,"[119592, 30970, 30760, 209122]","[247, 26, 26, 332]"
3,3,"[236444, 234318, 233688, 237452, 235745, 12096...","[375, 375, 375, 375, 375, 249, 375, 375, 375, ..."
4,4,"[336499, 271261, 48915, 44488, 195887, 195084,...","[437, 399, 92, 81, 317, 317, 132]"
...,...,...,...
322892,322892,"[42567, 39894]","[67, 66]"
322893,322893,"[50644, 36162]","[99, 43]"
322894,322894,"[36162, 168401]","[43, 297]"
322895,322895,"[289197, 63746]","[418, 133]"
322896,322896,"[30760, 157507]","[26, 281]"

In [38]:
from collections import Counter

# Initialisation d'un dictionnaire pour stocker les représentations utilisateur
user_profiles = {}

# Parcourir le dataframe pour remplir les profils utilisateur
for index, row in df_grouped.iterrows():
    user_id = row['user_id']
    categories = row['category_id']

    if user_id not in user_profiles:
        user_profiles[user_id] = Counter()

    # Ajouter les catégories au profil de l'utilisateur
    user_profiles[user_id].update(categories)

# Convertir les profils utilisateur en dataframe
user_profiles_df = pd.DataFrame(user_profiles).fillna(0).T
user_profiles_df

,281,136,209,431,375,186,435,301,123,43,...,414,46,34,362,24,90,266,415,405,42
0,2.0,1.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322892,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
322893,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
322894,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
322895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
322896,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
pickle = pickle.reset_index()

,index,0,1,2,3,4,5,6,7,8,...,240,241,242,243,244,245,246,247,248,249
0,0,-0.161183,-0.957233,-0.137944,0.050855,0.830055,0.901365,-0.335148,-0.559561,-0.500603,...,0.321248,0.313999,0.636412,0.169179,0.540524,-0.813182,0.286870,-0.231686,0.597416,0.409623
1,1,-0.523216,-0.974058,0.738608,0.155234,0.626294,0.485297,-0.715657,-0.897996,-0.359747,...,-0.487843,0.823124,0.412688,-0.338654,0.320787,0.588643,-0.594137,0.182828,0.397090,-0.834364
2,2,-0.619619,-0.972960,-0.207360,-0.128861,0.044748,-0.387535,-0.730477,-0.066126,-0.754899,...,0.454756,0.473184,0.377866,-0.863887,-0.383365,0.137721,-0.810877,-0.447580,0.805932,-0.285284
3,3,-0.740843,-0.975749,0.391698,0.641738,-0.268645,0.191745,-0.825593,-0.710591,-0.040099,...,0.271535,0.036040,0.480029,-0.763173,0.022627,0.565165,-0.910286,-0.537838,0.243541,-0.885329
4,4,-0.279052,-0.972315,0.685374,0.113056,0.238315,0.271913,-0.568816,0.341194,-0.600554,...,0.238286,0.809268,0.427521,-0.615932,-0.503697,0.614450,-0.917760,-0.424061,0.185484,-0.580292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364042,364042,-0.055038,-0.962136,0.869436,-0.071523,-0.725294,0.434320,0.198312,-0.581154,0.702346,...,-0.410549,0.564252,-0.463959,0.167907,-0.480068,0.652090,0.380880,0.433195,-0.662455,-0.222850
364043,364043,-0.136932,-0.995471,0.991298,0.031871,-0.915622,-0.658517,0.633090,-0.564356,0.676551,...,-0.681986,-0.574185,-0.536908,0.688934,0.528204,0.162435,0.940364,0.989298,-0.761595,-0.414652
364044,364044,-0.251390,-0.976243,0.586097,0.643631,-0.663359,-0.093480,0.691553,-0.588281,0.902999,...,-0.162220,-0.242030,-0.476131,0.352132,-0.311279,0.460574,-0.653077,-0.143725,0.068093,-0.705010
364045,364045,0.224342,-0.923288,-0.381742,0.687890,-0.773911,-0.103629,-0.406486,0.246004,0.255191,...,-0.422999,0.390324,0.655911,-0.646753,-0.174031,0.698037,-0.317102,0.687132,-0.531512,0.010726
364046,364046,-0.257134,-0.994631,0.983792,-0.190975,-0.953720,-0.893823,0.708974,-0.557027,0.846842,...,-0.490481,-0.689666,-0.661846,0.490945,0.736525,0.667668,0.902130,0.983873,-0.838183,-0.179283

In [40]:
df_temporary = df_metadata.copy()
df_temporary = df_temporary.drop(columns=["created_at_ts", "publisher_id", "words_count"])

In [41]:
pickle = pickle.merge(df_temporary, left_on='index', right_on='article_id', how='left')
pickle = pickle.drop(columns=["article_id"])
pickle = pickle.rename(columns={"index": "article_id"})
cols = list(pickle.columns)
cols.insert(1, cols.pop())
pickle = pickle[cols]

In [42]:
pickle

,article_id,category_id,0,1,2,3,4,5,6,7,...,240,241,242,243,244,245,246,247,248,249
0,0,0,-0.161183,-0.957233,-0.137944,0.050855,0.830055,0.901365,-0.335148,-0.559561,...,0.321248,0.313999,0.636412,0.169179,0.540524,-0.813182,0.286870,-0.231686,0.597416,0.409623
1,1,1,-0.523216,-0.974058,0.738608,0.155234,0.626294,0.485297,-0.715657,-0.897996,...,-0.487843,0.823124,0.412688,-0.338654,0.320787,0.588643,-0.594137,0.182828,0.397090,-0.834364
2,2,1,-0.619619,-0.972960,-0.207360,-0.128861,0.044748,-0.387535,-0.730477,-0.066126,...,0.454756,0.473184,0.377866,-0.863887,-0.383365,0.137721,-0.810877,-0.447580,0.805932,-0.285284
3,3,1,-0.740843,-0.975749,0.391698,0.641738,-0.268645,0.191745,-0.825593,-0.710591,...,0.271535,0.036040,0.480029,-0.763173,0.022627,0.565165,-0.910286,-0.537838,0.243541,-0.885329
4,4,1,-0.279052,-0.972315,0.685374,0.113056,0.238315,0.271913,-0.568816,0.341194,...,0.238286,0.809268,0.427521,-0.615932,-0.503697,0.614450,-0.917760,-0.424061,0.185484,-0.580292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364042,364042,460,-0.055038,-0.962136,0.869436,-0.071523,-0.725294,0.434320,0.198312,-0.581154,...,-0.410549,0.564252,-0.463959,0.167907,-0.480068,0.652090,0.380880,0.433195,-0.662455,-0.222850
364043,364043,460,-0.136932,-0.995471,0.991298,0.031871,-0.915622,-0.658517,0.633090,-0.564356,...,-0.681986,-0.574185,-0.536908,0.688934,0.528204,0.162435,0.940364,0.989298,-0.761595,-0.414652
364044,364044,460,-0.251390,-0.976243,0.586097,0.643631,-0.663359,-0.093480,0.691553,-0.588281,...,-0.162220,-0.242030,-0.476131,0.352132,-0.311279,0.460574,-0.653077,-0.143725,0.068093,-0.705010
364045,364045,460,0.224342,-0.923288,-0.381742,0.687890,-0.773911,-0.103629,-0.406486,0.246004,...,-0.422999,0.390324,0.655911,-0.646753,-0.174031,0.698037,-0.317102,0.687132,-0.531512,0.010726
364046,364046,460,-0.257134,-0.994631,0.983792,-0.190975,-0.953720,-0.893823,0.708974,-0.557027,...,-0.490481,-0.689666,-0.661846,0.490945,0.736525,0.667668,0.902130,0.983873,-0.838183,-0.179283

In [43]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Exemple de DataFrame
dataX = {
    'article_id': [1, 2, 3, 4, 5],
    'embedding': [np.random.rand(250) for _ in range(5)],  # embeddings aléatoires pour l'exemple
    'label': ['A', 'B', 'C', 'A', 'B']
}
dfX = pd.DataFrame(dataX)
dfX

   article_id                                          embedding label
0           1  [0.4366853293780225, 0.7875039527561869, 0.386...     A
1           2  [0.5269394257867234, 0.9926736665440304, 0.775...     B
2           3  [0.32009044091911754, 0.3311831059790953, 0.89...     C
3           4  [0.7386486915618052, 0.17131833680552255, 0.76...     A
4           5  [0.16555835635794847, 0.15193106728152728, 0.9...     B

In [48]:
# Embeddings des articles que l'utilisateur aime (par exemple, articles 1 et 3)
liked_articles_embeddings = dfX[dfX['article_id'].isin([1, 3])]['embedding'].values
liked_articles_embeddingsX = pd.DataFrame(liked_articles_embeddings)
liked_articles_embeddingsX

                                                   0
0  [0.4366853293780225, 0.7875039527561869, 0.386...
1  [0.32009044091911754, 0.3311831059790953, 0.89...

In [49]:
# Calcul de l'embedding moyen de l'utilisateur
user_embedding = np.mean(liked_articles_embeddings, axis=0)
user_embedding

array([0.37838789, 0.55934353, 0.64114457, 0.62686576, 0.35460203,
       0.40797653, 0.82996398, 0.35688674, 0.23095508, 0.69909908,
       0.23188474, 0.80299223, 0.39012895, 0.77657326, 0.47564851,
       0.96490111, 0.58805552, 0.3451869 , 0.43551742, 0.93843839,
       0.15698008, 0.57336046, 0.45423511, 0.40629192, 0.43095105,
       0.47556605, 0.44887151, 0.56679628, 0.449704  , 0.85867502,
       0.65482864, 0.49464306, 0.30866472, 0.51365044, 0.24608873,
       0.62376367, 0.39215063, 0.52509381, 0.38124185, 0.34790902,
       0.27321244, 0.72205336, 0.43762809, 0.24381159, 0.47105835,
       0.40906543, 0.62851129, 0.46969799, 0.29606191, 0.63058169,
       0.89749357, 0.04627055, 0.31627828, 0.21898569, 0.70863889,
       0.31444665, 0.52615981, 0.82490485, 0.67523148, 0.4610732 ,
       0.66211334, 0.59857701, 0.37197226, 0.47791094, 0.76257095,
       0.57720591, 0.56045123, 0.62986075, 0.21945344, 0.47184617,
       0.31370065, 0.28589971, 0.50052784, 0.37593433, 0.34647266,
       0.45931681, 0.66860833, 0.50020735, 0.15934561, 0.70750492,
       0.89044974, 0.8679788 , 0.61417913, 0.46502671, 0.62715915,
       0.23442156, 0.15680291, 0.74282351, 0.37341203, 0.57013949,
       0.71309906, 0.10250592, 0.70785288, 0.43694248, 0.52539283,
       0.32773053, 0.3071739 , 0.83619716, 0.49416719, 0.65712411,
       0.47410381, 0.15384009, 0.2412549 , 0.05524302, 0.72903765,
       0.54108121, 0.46840717, 0.52149857, 0.6729225 , 0.20346096,
       0.37402454, 0.658716  , 0.49817458, 0.50009126, 0.39161684,
       0.7273639 , 0.57603772, 0.50043349, 0.48324154, 0.51400893,
       0.37141791, 0.37118736, 0.66617944, 0.69052211, 0.83513491,
       0.36784899, 0.44657137, 0.58616921, 0.66749948, 0.66342943,
       0.52619733, 0.43090534, 0.45882841, 0.84999524, 0.77157113,
       0.69550633, 0.4228436 , 0.53792595, 0.417911  , 0.65944564,
       0.7836348 , 0.78240753, 0.16583177, 0.44759082, 0.35925642,
       0.74854455, 0.64774551, 0.46640869, 0.61250116, 0.3965771 ,
       0.62001916, 0.35386612, 0.63437402, 0.42294107, 0.61047534,
       0.45570037, 0.72780528, 0.37768469, 0.40992616, 0.44441239,
       0.77498717, 0.40468215, 0.11893508, 0.33894398, 0.49755249,
       0.07857329, 0.61095877, 0.68642826, 0.41389088, 0.35407241,
       0.50237442, 0.50789007, 0.64549791, 0.57574805, 0.76114905,
       0.55008618, 0.60425155, 0.59596668, 0.47773329, 0.73052532,
       0.15927314, 0.48550244, 0.36064568, 0.55672154, 0.57078839,
       0.34925386, 0.65170361, 0.34074411, 0.20146867, 0.51292908,
       0.40063918, 0.12629259, 0.15377497, 0.78091798, 0.46459486,
       0.54283256, 0.36150499, 0.63546151, 0.0900817 , 0.75022754,
       0.65664371, 0.52605367, 0.18931086, 0.49572251, 0.14451456,
       0.52323558, 0.81346707, 0.46347583, 0.34355366, 0.54711231,
       0.33901289, 0.62514036, 0.64334802, 0.16047136, 0.54943914,
       0.38116189, 0.55919226, 0.45470087, 0.70604325, 0.46260828,
       0.4566156 , 0.38166866, 0.35919074, 0.52487576, 0.45606378,
       0.55121702, 0.51802214, 0.24937325, 0.61063299, 0.72867601,
       0.55476079, 0.73691833, 0.37584445, 0.39864447, 0.75750861,
       0.38060263, 0.6404936 , 0.80482704, 0.58929946, 0.52696294,
       0.69019532, 0.13684836, 0.31832317, 0.14864514, 0.51976301,
       0.53772117, 0.51137455, 0.1084974 , 0.64506187, 0.35459346])

In [50]:
# Calcul de la similarité cosinus entre l'embedding de l'utilisateur et les embeddings des articles
dfX['similarity'] = dfX['embedding'].apply(lambda x: cosine_similarity([user_embedding], [x])[0][0])

In [51]:
# Tri des articles par similarité décroissante
recommended_articles = dfX.sort_values(by='similarity', ascending=False)

print(recommended_articles[['article_id', 'similarity']])

   article_id  similarity
2           3    0.939192
0           1    0.931975
3           4    0.827783
1           2    0.805868
4           5    0.803600